# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Old SDL attempt folder
src/old
src/old2
src/default.pak

# Binary
bin/*
